*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: blue;
}

span
{
    color: white;
    font-family: sans-serif;
}
.img_wrapper
{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    
}

.text_header_wrapper
{
    text-align: center;
    margin-top: 10px;
    
}

.text_header
{
    font-weight: 700; 
    font-size: 2em;
}

.text_wrapper
{
     text-align: center;
}

.text
{
    font-size: 0.8em;
}

.button_wrapper
{
    padding: 3px;
    text-align: center;
    margin: 20px;
}
.play
{
    display: flex;
   margin-left: 25px;
    margin-top: 15px;
}
.button
{
    display: inline-block;
    background-color: orangered;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    position: relative;
}

.inner_button
{
    display: flex;
    position: absolute;
    top: calc(50% - 0.5em);
    left:27%;
   
}